<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/search.css"/>
    <link rel="stylesheet" href="css/drag.css"/>
    <link rel="stylesheet" href="css/city.css"/>
    <link rel="stylesheet" href="css/windowInfo.css"/>
    <script>
        window.onload = function(){
            var windowWidth = window.innerWidth,
                    windowHeight = window.innerHeight,
                    container = document.querySelector('.container');

            container.style.width = windowWidth * 0.9 + 'px';
            container.style.height = windowHeight * 0.9 + 'px';
        }
    </script>
</head>
<body>
    <div class="container" id="container">
        <div class="search">
            <input type="text" id="keyword" name="keyword" value=""  style="width: 95%;" placeholder="请输入你的订餐地址（学校，写字楼或街道）"/>
            <div id="result1" name="result1" style="overflow: auto; width: 95%; border: 1px solid gray;display: none;"></div>
        </div>
        <div class="drag-wrap">
            <div class="drag-pin"></div>
        </div>
        <div class="city" id="city" style="display: none;">
        </div>
    </div>
</body>

<!-- Template  -->
<script type="text/template" id="place_template">
    <div>共<span>20</span>地址</div>
    <ul>
        <% for(var i = 0; i < resultCount; i ++){ %>
        <li class="secid" data-mouseover="<%= i %>" data-mouseout="<%= i + 1 %>">
            <div class="icon icon<%= i + 1 %>_b"></div>
            <h2><%= poiArr[i].name %></h2>
            <span><%= poiArr[i].address %></span>
            <p>还有N个城市</p>
        </li>
        <%  autoComplete.addmarker(i, poiArr[i]); %>
        <% } %>
    </ul>
</script>

<!-- 显示信息框模板 -->
<script type="text/template" id="windowInfo_template">
    <h2 class=""><%= d.name %></h2>
    <p><%= d.address %></p>
    <p>附近有<span>4</span>家餐厅</p>
</script>

<!-- 头顶信息展示模板 -->
<script type="text/template" id="point_template">
    <h2 class=""><%= data.district %></h2>
    <p><%= data.street %> <%= data.streetNumber %>号</p>
    <p>附近有<span>4</span>家餐厅</p>
</script>


<!-- 地点列表模板 -->
<script type="text/template" id="list_template">
    <% tipArr.forEach(function(value, index){ %>
        <div class="divid" id="divid<%= index + 1 %>" data-mouseover="<%= index + 1 %>" data-select="<%= index %>" data-mouseout="<%= index + 1 %>" data="<%= tipArr[index].adcode %>">
            <%= tipArr[index].name %>
            <span style="color:#C1C1C1"><%= tipArr[index].district %></span>
        </div>
    <% }); %>
</script>

<script src="http://webapi.amap.com/maps?v=1.3&key=ca56cd94a180aec9342b05d84954a75e"></script>
<script src="js/jquery.js"></script>
<script src="js/underscore.js"></script>
<script src="js/main.js"></script>
<script>
    mapObj({
        // 开启搜索框搜索
        autoComplete : {
            input: "keyword", // 输入框ID
            result : "result1", // 结果框ID
            city : "city"
        },

        // 工具栏
        toolBar : {

        },

        drag: {}
    }).init();
</script>
</html>
